# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Logs
*.log
assets/logs/global_logs.log

# Generated credentials
default_user.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go
vendor/
